.upl-form select, .upl-form input {
    width: 100%;
    height: 35px;
    margin-bottom: 22px;
}

.content {
  background: #FFF5A4;
  max-width: 100%;
  /* height: 100%; */
    /* margin-left: 40px;
    margin-right: 40px; */

}


img {
  height: 50px;
  width: 50px;
}
.row {
  /* padding: 30px; */
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rki-examples {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  background-color: yellow;

}

.main-controller {
  width: 100%;
  height: 100%;
  background: #FFF5A4;
}
.download {
  width: 15%;
  margin: 22px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #29adb3;
  background: #29adb3;
}

.text-task {
  margin-left: 10%;
  margin-right: 5%;
}

.rki-nav-items {
  padding-left: 10%;
}

.rki-nav-container {
  background-color: #29adb3;
  padding: 0;
}

.rki-nav-item {
  margin: auto;
  /* box-sizing: content-box!important; */
  white-space: nowrap;
}
.rki-nav-item a {
  background: #fceb68;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
}

.rki-nav-item img {
  margin-right: 20px;
}

.rki-form-exc {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: #29adb3;
}

.rki-exc-inp {
  border-radius: 7px;
  border: 1px solid #fceb68;
  background: #fceb68;
}
