{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>rkiapp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/rkiapp.css' %}">
</head>
<div class='main-controller'>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">RusMaster </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Главная </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Выбор упражнения</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example">Примеры заданий</a>
      </li>
    </ul>
  </div>
</nav>


{% if displaying_home %}
<p>Здесь будет отображаться содержание самих упражнений</p>
{% endif %}

{% if displaying_examples %}
  <div class="content container">
    <div class="row">
      <div class="col-md-6">
        <h2>Исходный текст</h2>
        <p>Санкт-Петербург — это один из самых красивых городов России. Он был основан императором Петром I (первым). Император решил построить город здесь, чтобы открыть для России «окно в Европу».
	      Раньше на этом месте было болото, поэтому построить город было очень трудно. Очень много людей умерло, когда строили этот город. Поэтому говорят, что это «город на костях».
	      В Санкт-Петербурге есть очень много красивых дворцов, музеев и церквей. Здесь находится известная янтарная комната. Летом в Санкт-Петербурге бывают «белые ночи».
	      Это дни, когда ночью на улице почти так же светло, как днём. Это самое популярное время для туристов. Ночью на улицах много людей и кажется, что весь город не спит.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Пример задания для первого упражнения</h3>
        <i>Определите род слов и впишите ответы в пропуски (1) - (11), как показано в примере (0).</i>
        <p>Санкт-Петербург ____м. р.____(0) — это один из самых красивых городов России. Он был основан императором Петром ____________(1) I (первым). Император решил построить город здесь, чтобы открыть для России ____________(2) «окно в Европу». Раньше на этом месте ____________(3) было болото, поэтому построить город было очень трудно. Очень много людей умерло, когда строили этот ____________(4) город. Поэтому говорят, что это «город ____________(5) на костях». В Санкт-Петербурге есть очень много красивых дворцов, музеев и церквей ____________(6). Здесь находится известная ____________(7) янтарная комната. Летом в Санкт-Петербурге ____________(8) бывают «белые ночи». Это дни, когда ночью на улице ____________(9) почти так же светло, как днём. Это самое популярное ____________(10) время для туристов. Ночью на улицах много людей ____________(11) и кажется, что весь город не спит.</p>
      </div>
      <div class="col-md-6">
        <h3>Пример задания для второго упражнения</h3>
        <i>Поставьте глаголы в скобках в нужную форму и заполните пропуски (1) - (6), как показано в примере (0). Обратите внимание, что ответом может являться форма, данная в скобках.</i>
        <p>Санкт-Петербург — это один из самых красивых городов России. Он (0)____был____(быть) основан императором Петром I (первым). Император (1)____________ (решить) построить город здесь, чтобы открыть для России «окно в Европу». Раньше на этом месте (2)____________ (быть) болото, поэтому построить город было очень трудно. Очень много людей умерло, когда (3)____________ (строить) этот город. Поэтому говорят, что это «город на костях». В Санкт-Петербурге есть очень много красивых дворцов, музеев и церквей. Здесь (4)____________ (находиться) известная янтарная комната. Летом в Санкт-Петербурге (5)____________ (бывать) «белые ночи». Это дни, когда ночью на улице почти так же светло, как днём. Это самое популярное время для туристов. Ночью на улицах много людей и кажется, что весь город не (6)____________ (спать).</p>
      </div>
      <div class="col-md-6">
        <h3>Пример задания для третьего упражнения</h3>
        <i>Поставьте местоимение, прилагательное или числительное в скобках в нужную форму и заполните пропуски (1) - (5), как показано в примере (0). Обратите внимание, что ответом может являться форма, данная в скобках.</i>
        <p>Санкт-Петербург — это один из самых (0)____красивых____(красивый) городов России. Он был основан императором Петром I (первым). Император решил построить город здесь, чтобы открыть для России «окно в Европу». Раньше на (1)____________ (это) месте было болото, поэтому построить город было очень трудно. Очень много людей умерло, когда строили (2)____________ (этот) город. Поэтому говорят, что это «город на костях». В Санкт-Петербурге есть очень много красивых дворцов, музеев и церквей. Здесь находится известная (3)____________ (янтарный) комната. Летом в Санкт-Петербурге бывают «белые ночи». Это дни, когда ночью на улице почти так же светло, как днём. Это самое (4)____________ (популярный) время для туристов. Ночью на улицах много людей и кажется, что (5)____________ (весь) город не спит.</p>
      </div>
    </div>

  </div>

{% endif %}

{% if displaying_form %}
  <form action="" method="post" class='upl-form' enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <div class="form-group">
      <label for="exampleFormControlSelect1">Выберите упражнение:</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option value='ex1'>Упражнение 1</option>
        <option value='ex2'>Упражнение 2</option>
        <option value='ex3'>Упражнение 3</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Загрузите файл с текстом</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div> -->
    <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {{ form }}
                    <input type="submit" class='upload' value="Загрузить"/>
                    {% endblock %}
                </div>
            </div>
        </div>

  </form>
{% endif %}

{% if download_task %}
<div class="content">
  <div class="row">
    <p class='text-task'>{{ task }}</p>
    <input type="button" value="Загрузить упражнение" class='download' onclick="window.open('download_generated_task')">
    <input type="button" value="Загрузить ответы" class='download' onclick="window.open('download_generated_answer')">
  </div>
</div>
{% endif %}
</div>
